.overlay {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.overlay:hover {
  background-color: var(--color-blue300);
  cursor: pointer;
}
